<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation  Suite" thread-count="3" parallel="tests" >

    <test name="Change Language" parallel="tests">
        <classes>
            <class name="ZoommerProject.ChangeLanguage" />
        </classes>
    </test>

    <test name="Search Test" parallel="tests">
        <classes>
            <class name="ZoommerProject.TestSearch" />
        </classes>
    </test>

    <test name="Change Language" parallel="tests">
        <classes>
            <class name="ZoommerProject.ChangeLanguage" />
        </classes>
    </test>
</suite>